@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#070707;
  color:white;
}

.app{
  min-height:100vh;

  background:
  radial-gradient(circle at top,#1c1c1c,#070707);
}

.hero-section{

  text-align:center;

  padding:120px 20px 40px;
}

.hero-subtitle{

  color:#d4af37;

  letter-spacing:4px;

  font-size:14px;

  margin-bottom:15px;
}

.hero-section h1{

  font-size:58px;

  max-width:850px;

  margin:auto;

  line-height:1.2;
}

.hero-text{

  color:#bdbdbd;

  max-width:700px;

  margin:20px auto;

  line-height:1.8;

  font-size:17px;
}

.search-bar{

  width:420px;

  max-width:90%;

  padding:18px 25px;

  border:none;

  border-radius:50px;

  margin-top:25px;

  background:#161616;

  color:white;

  font-size:16px;

  outline:none;

  border:1px solid #2a2a2a;
}

.store-grid{

  width:90%;

  margin:50px auto;

  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(320px,1fr));

  gap:40px;
}

@media(max-width:768px){

  .hero-section h1{

    font-size:38px;
  }

  .store-grid{

    width:95%;
  }

}